body {
   transform: scale(0.75);
   transform-origin: 0 0;
   padding-left: 2rem;
   height: 200rem;
}

.row {
  background: #f8f9fa;
  margin-top: 20px;
}

.col {
  border: solid 1px #6c757d;
  padding: 10px;
}

.my-slidecontainer {
  width: 100%; /* Width of the outside container */
}

.my-data-slider {
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
}

/* The slider itself */
.my-slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}


.blue {
  color: darkcyan;
}


.red {
  color: red;
}

.green {
  color: green;
}

.official {
  color: darkorange;
  font-weight: 700;
 /* background-color: steelblue;*/
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.my-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.my-slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* Mouse-over effects */
.my-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}


.my-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.my-tooltip .my-tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.my-tooltip .my-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.my-tooltip:hover .my-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.my-bold-text {
  text-shadow: 0.5px 0.5px #666;
}

.legendOrdinal {
  font-size: 75%;
}
.overlay-d3 {
        fill: none;
        pointer-events: all;
}

.focus-d3 circle {
        fill: steelblue;
}

.focus-d3 text {
        font-size: 14px;
}

.tooltip-d3 {
        fill: white;
        stroke: #000;
 }
 
 .tooltip-label {
    color: green;
 }

 .tooltip-d3-date, .tooltip-d3-value .tooltip-d3-realValue .tooltip-d3-newCases .tooltip-d3-official {
        font-weight: bold;
  }
